CompileFlags:
  Add:
    - -std=c++20
    - --cuda-path=C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.8
    - --cuda-gpu-arch=sm_61
    - -LC:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.8\lib\x64
    - -IC:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.8\include
    - -IF:\CG3rdParty\eigen-3.4.0
